.main {
color: blue;
}

body {
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/seamless-sky-with-clouds.jpg");
    background-repeat: repeat;
    min-width:1500px;
}

button {
    background-color: #888888;
    border-radius: 6px;
    color: white;
    margin: 20px 4px 20px 4px;
    font-size: 22px;
    height: 70px;
    width: 10%;
    min-width: 200px;
    transition-duration: 0.5s;
    border: none;
    opacity: 1;
}

button:hover {
    background-color: #555555;
}

addbasket {
    background-color: #ffff00;
    border-radius: 4px;
    color: black;
    margin: 10px;
    font-size: 16px;
    height: 35px;
    width: 80px;
    min-width: 80px;
    transition-duration: 0.5s;
    border: none;
}

addbasket:hover {
    background-color: #ff9900;
}

.navbar {
    opacity: 0.5;
    z-index: 9999;
    background-color: #005580;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    border: none;
    width: 100%;
  
}
