p.main {
color: blue;
}

body {
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/seamless-sky-with-clouds.jpg");
    background-repeat: repeat;
}

button {
    background-color: #888888;
    border-color: none;
    border-radius: 6px;
    color: white;
    margin: 4px 4px 4px 4px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    float: left;
    height: 75px;
    width: 15%;
    min-width: 200px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #555555;
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 90px;
  background-color: #00a087;
  border-radius: 6px;
  border: solid green;
  padding: 25px;
  margin: 25px;
}
