.main {
color: blue;
}

body {
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/seamless-sky-with-clouds.jpg");
    background-repeat: repeat;
    background-color: rgb(255,0,255);
    min-width:1500px;
	height: 100%;
}

h1 {font-family:'Delius unicase',cursive;}
	 


/*
css for navigation bar begins here
----------------------
old navigation menu below (did not pass the validation)
button {
    background-color: #888888;
    border-radius: 6px;
    color: white;
    margin: 20px 4px 20px 4px;
    font-size: 22px;
    height: 70px;
    width: 10%;
    min-width: 200px;
    transition-duration: 0.5s;
    border: none;
}
button:hover {
    background-color: #555555;
}
.navbar {
    z-index: 1;
    background-color: rgba(0,85,128,0.6);
    border-radius: 20px;
    margin: 8px;
    text-align: center;
    border: none;
    width: calc(100% - 16px);
}
*/

nav ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,85,128,0.6);
   
}

nav ul li {
    float: left;
    border-right: 1px solid rgba(0,85,128,0.6);
    font-size: 20px;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(20,85,128,0.7);
}

/*
css for navigation bar ends here
*/

.shopitemimg {
  width: 236px; 
  height: 117px;
  padding: 10px;
}

#aircraft1 {
  width: 60%;
}

.shopfooter {
    background-color: rgba(0,85,128,0.6);
    clear: both;
    position:fixed; 
	bottom: 0px;
    z-index: 10;
    height: 60px;
	width: calc(100% - 16px);
	margin: 20px 6px 0px;
	text-align: center;
    border: none;
	border-radius: 20px;
	min-width: 1000px;
}

.shopfooteritem {
    position: absolute; 
    height: 30px;
	width: 60%;
}

.shopfooteritem2 {
    position: relative; 
    height: 15px;
	width: 30%;
}

.shopfooteritem3 {
    position: static; 
    height: 10px;
	width: 15%;
}

.addtobasket {
    background-color: #ffff00;
    text-decoration: none;
    color: black;
    padding: 8px;

}

.addtobasket:hover {
    background-color: #ff9900;
}

.shopitem {
    z-index: 9997;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    margin: 8px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    text-align: left;
    width: calc(100%-16px);
    min-width: 1000px;
    height: 290px;
}

#jumpscare {
  display: none;
}

/*
Animation stuff below
*/

.floating{
    width: calc(100% - 230px);
    float: right;
    right: 250px;
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
p[target=color] {
text-align:center;
font-size : 20px;
}
/*this is where the selectors are (CSSA Best 1) */
[class*=font] {
	font-size:25px;
	
}
p[target=span]
{
	text-align:center;
}
[class|="beginw"]{
	text-align: center;
	background : #DAF7A6;
	color: #DB3916;
	font-size: 25px;
}
[class*="fl"]{
	color:red;
}
/* end selectors */

/* multi column layout css (Best 5)*/
.news {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px; /* Firefox */
    column-gap: 100px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
}
/*end */

table {
    border-collapse: collapse;
    font-size: 125%;
}

th, td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:nth-child(odd){
  background-color: #9da6b5;
}

th {
    background-color: #4f5e77;
    color: white;
}

form {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

label, input {
    display: inline-block;
}

label {
    width: 40%;
    text-align: right;
}


input[type=text],input[type=password],input[type=email],input[type=range] {
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    background-color: #f2f2f2;
    color: #4f5e77;
}

#skilllabel {
  margin-bottom: 6px;
}

input[type=submit] {
    background-color: #4f5e77;
    border: none;
    color: white;
    padding: 14px 15% 14px 15%;
    margin: 6px 30%;
}

ul.reasons {
    list-style-type: circle;
}
ol.reasons {
    background: rgba(0,15,128,0.2);
    padding: 18px;
    margin-bottom: 18px;
}

ul.reasons {
    background: rgba(10,125,128,0.6);
    padding: 35px;
    color: white;
    padding-bottom: 14px;
    width: 60%;
    font-size: 2em;
  
}

ol li.reasons {
    padding: 5px;
    margin-left: 35px;
}
